NODE_ENV=development # optional, default is 'development'
LOG_LEVEL=debug # optional, default is 'info' 
POSTGRES_USER=relayer
POSTGRES_PASSWORD=relayer
POSTGRES_DB=relayer_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
HTTP_PORT=3000 # REST api port